In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [3]:
col_names = ['ID_KEL', 'Nama_kota', 'Nama_kecamatan', 'SUSPEK' , 'Perawatan' , 'POSITIF' , 'Sembuh' , 'Meninggal']
pima = pd.read_csv("Data_Covid-19_DKI_Jakarta.csv", header=None, names=col_names)

In [4]:
pima.head()

                                              ID_KEL  ...  Meninggal
0  ID_KEL;Nama_provinsi;nama_kota;nama_kecamatan;...  ...        NaN
1  ;;;;TOTAL;1111539;119;55662;2311;1053447;15319...  ...        NaN
2  3172051003;DKI JAKARTA;JAKARTA UTARA;PADEMANGA...  ...        NaN
3  3173041007;DKI JAKARTA;JAKARTA BARAT;TAMBORA;A...  ...        NaN
4  3175041005;DKI JAKARTA;JAKARTA TIMUR;KRAMAT JA...  ...        NaN

[5 rows x 8 columns]

In [ ]:
feature_cols = ['ID_KEL', 'Nama_kota', 'Nama_kecamatan', 'SUSPEK' , 'Perawatan' , 'POSITIF' , 'Sembuh' , 'Meninggal']
X = pima[feature_cols] 
y = pima.label

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [ ]:
clf = DecisionTreeClassifier()

clf = clf.fit(X_train,y_train)

y_pred = clf.predict(X_test)

In [ ]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

In [ ]:
from sklearn.tree import export_graphviz
from sklearn.externals.six import StringIO  
from IPython.display import Image  
import pydotplus

dot_data = StringIO()
export_graphviz(clf, out_file=dot_data,  
                filled=True, rounded=True,
                special_characters=True,feature_names = feature_cols,class_names=['0','1'])
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
graph.write_png('diabetes.png')
Image(graph.create_png())